<h2>All Current Events</h2>

<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Name</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |e| %>
		<tr><td><strong><%= e.name %><strong></td></tr>
		<%- @reports = e.reports %>
			<% @reports.each do |r| %>
				<tr>
					<td><em>Report:</em></td>
					<td><%= r.event_name%></td>
					<td><%= link_to r.location, atlas_tag_path(@atlas.id, r.tag_id) %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<br>
<%= link_to "Atlas Dashboard", atlas_path(params[:atlas_id]) %>