// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-holder{
	position: absolute;
	top: 20px;
	left: 10px;
	width: 400px;
	height: 400px;
}
#center-pane{
	position: absolute;
	left: 475px;
	top: 20px;
	width: 300px;
}
#right-pane{
	position: absolute;
	left: 800px;
	top: 20px;
}
#map-canvas{
	position: absolute;
	left: 10px;
	top: Opx;
	width: 400px;
	height: 400px;
}
#bottom-right{
	position: absolute;
	top: 300px;
	left: 475px;
}